body {
  margin: 10px;
  font-size: 12px;
  white-space: nowrap;
}

h1 {
  font-size: 15px;
}

ul {
  padding: 0;
}

.folders_list {
  align-items: top;
  display: flex;
  justify-content: space-between;
}

.folders_list > .flex-item {
  flex: auto;
}
.flex-item > h4 {
text-align: center;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  user-select: none;
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;

}

.btn-login {
  padding: 2px 4px;
  font-size: 13px;
  line-height: 1.22857143;
  margin: 8px auto;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
  color: #fff;
    background-color: #3071a9;
    border-color: #285e8e;
}

.btn:hover {
  color: #fff;
  background-color: #3071a9;
  border-color: #285e8e;
}

.btn:focus,
.btn.focus {
  text-decoration: none;
  color: #fff;
  background-color: #3071a9;
  border-color: #193c5a;}

.btn:active,
.btn.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn.screenshot {
  padding-left: 22px;
  background-image: url('img/screenshot.png');
  background-position: 0;
  background-repeat: no-repeat;
  background-size: 20px 20px;
}

.hidden {
  display: none;
}

.success {
  color: blue;
  font-size: 20px;
}

.error {
  color: red;
  font-size: 20px;
}

.screenshot-preview {
  width: 300px;
  height: auto;
}

.folder {
  padding-left: 10px;
  background-image: url("/img/folder.png");
  background-repeat: no-repeat;
  background-position: 0;
  background-size: 10px 10px;
}

.folder:hover {
  cursor: pointer;
  text-decoration: underline;
}