body {
  margin: 10px;
  font-size: 12px;
  white-space: nowrap;
}

h1 {
  font-size: 15px;
}

ul {
  padding: 0;
}

.folders_list {
  align-items: top;
  display: flex;
  justify-content: space-between;
}

.folders_list > .flex-item {
  flex: auto;
}
.flex-item > h4 {
text-align: center;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  user-select: none;
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;

}

.btn-login {
  padding: 2px 4px;
  font-size: 13px;
  line-height: 1.22857143;
  margin: 8px auto;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
  color: #fff;
    background-color: #3071a9;
    border-color: #285e8e;
}

.btn:hover {
  color: #fff;
  background-color: #3071a9;
  border-color: #285e8e;
}

.btn:focus,
.btn.focus {
  text-decoration: none;
  color: #fff;
  background-color: #3071a9;
  border-color: #193c5a;}

.btn:active,
.btn.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn.screenshot {
  padding-left: 22px;
  background-image: url('img/screenshot.png');
  background-position: 0;
  background-repeat: no-repeat;
  background-size: 20px 20px;
}

.btn.upload {
  padding-left: 22px;
  background-image: url('img/upload.png');
  background-position: 0;
  background-repeat: no-repeat;
  background-size: 20px 20px;
}

.btn.get_folders {
	padding-left: 22px;
  background-image: url('img/folders.png');
  background-position: 1px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
}

.btn:disabled,
.btn[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.hidden {
  display: none;
}

.success {
  color: #285e8e;
	font-size: 16px;
	margin: 0;
}

.error {
  color: red;
	font-size: 16px;
	margin: 0;
}

.screenshot-preview {
  width: 300px;
  height: auto;
}

.folder {
  padding-left: 16px;
  background-image: url("/img/folder.png");
  background-repeat: no-repeat;
  background-position: 0;
  background-size: 15px 15px;
}

.view-link {
	padding-left: 22px;
  background-image: url("/img/view.png");
  background-repeat: no-repeat;
  background-position: 0;
  background-size: 20px;
}

.folder:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* ============== Spinner =================== */
#ajax-spinner {
  display: none;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: 0;
  left: 0;
}

.spinner {
  animation: rotate 2s linear infinite;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;  
  margin: -10px 0 0 -10px;
  width: 20px;
  height: 20px;
}
.spinner .path {
  stroke: #0080ff;
  stroke-linecap: round;
  animation: dash 1.5s ease-in-out infinite;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
 }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
 }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
 }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
 }
}
